@import url(reset.css);

/* 
1. 將 reset.css 放單個檔案。
2. 常用的 margin、padding，設成單獨的 class 名稱；用在容器、大標題、副標題。
3. 注意，.container-* 有設定 margin 值，要放在單邊 margin class 名稱之前；以防同時作用，會覆蓋到。
4. 像學歷、工作經驗，時間上有順序的，使用 <ol>。
*/

*,*::before,*::after{
  box-sizing: border-box;
}

/* 兩種容器大小 */
.container{
  width: 1200px;
  margin: 0 auto;
}
.container-sm{
  width: 996px;
  margin: 0 auto;
}

/* margin 取 4 的倍數: 8、16、32、40、48、72 */
.mb-4{
  margin-bottom: 16px;
}
.mb-8{
  margin-bottom: 32px;
}
.mb-10{
  margin-bottom: 40px;
}
.mt-12{
  margin-top: 48px;
}
.mb-12{
  margin-bottom: 48px;
}
.mb-18{
  margin-bottom: 72px;
}

/* padding 取 4 的倍數: 8、16、24、36 */
.pb-2{
  padding-bottom: 8px;
}
.pb-4{
  padding-bottom: 16px;
}
.pt-6{
  padding-top: 24px;
}
.pb-9{
  padding-bottom: 36px;
}

/* 設定主要的字形、主要的字體大小 */
body{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  line-height: 1.5;
}
.title{
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  line-height: 94px;
  border-bottom: 2px solid #000;
}
.pic{
  width: 324px;
  overflow: hidden;
}
.pic img{
  width: 100%;
  vertical-align: middle;
}
/* profile */
.subTitle{
  font-size: 32px;
  line-height: 43px;
  border-bottom: 1px solid #000;
}
.subTitle span{
  color: #A00404;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-left: 16px;
}
.profile .text ~ .text{
  margin-top: 24px;
}
/* education */
.education .education-list li ~ li{
  margin-top: 24px;
}
/* darkBlue 樣式 */
.darkBlue{
  background-color: #415165;
  color: #fff;
}
.darkBlue .subTitle{
  border-bottom: 1px solid #fff;
}
.darkBlue .subTitle span{
  color: #fff;
}
/* skills */
.skills{
  text-align: center;
}
.skill-list{
  display: inline-block;
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  font-size: 0;
  text-align-last: left;
}
.skill-list li{
  font-size: 24px;
}
.skill-list li ~ li{
  margin-top: 20px;
}
/* work */
.work-list{
  margin-left: 24px;
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
}
.work-list li ~ li{
  margin-top: 24px;
}
.work-list p{
  max-width: 640px;
  font-size: 20px;
}
.work-list img{
  display: block;
  width: 90px;
  margin: 8px 0;
}
/* contact */
.contact{
  text-align: center;
}
.contact a{
  color: #fff;
  text-decoration: none;
}
.contact a:hover{
  text-decoration: underline;
}
.method li{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 16px;
}
.community li{
  display: inline-block;
  font-size: 0;
}
.community li ~ li{
  margin-left: 24px;
}
